@using PRELIM_A1_BSIT31A1_jOHNLORENZ_AMBA.Models
@{
    ViewData["Title"] = "Student List";

    List<Student> students = new List<Student>();

    var s1 = new Student("John Lorenz", "Amba");
    s1.Title = "Mr.";
    s1.Course = "BSIT";
    s1.Section = "31A1";
    s1.Birthday = new DateTime(2001, 1, 06);
    s1.SetGender(Gender.Male);

    var s2 = new Student("Nicole", "Soverano");
    s2.Title = "Ms.";
    s2.Course = "BSIT";
    s2.Section = "31A1";
    s2.Birthday = new DateTime(2003, 9, 14);
    s2.SetGender(Gender.Female);

    var s3 = new Student("Boy", "Tapang");
    s3.Title = "Mr.";
    s3.Course = "BSCS";
    s3.Section = "32B";
    s3.Birthday = new DateTime(2004, 8, 10);
    s3.SetGender(Gender.Male);

    var s4 = new Student("Ana", "Liza");
    s4.Title = "Ms.";
    s4.Course = "BSIS";
    s4.Section = "33A";
    s4.Birthday = new DateTime(2001, 11, 2);
    s4.SetGender(Gender.Female);

    var s5 = new Student("Carlos", "DIpapahuli");
    s5.Title = "Mr.";
    s5.Course = "BSIT";
    s5.Section = "31C";
    s5.Birthday = new DateTime(2003, 7, 1);
    s5.SetGender(Gender.Male);

    var s6 = new Student("Jessa", "Guma");
    s6.Title = "Ms.";
    s6.Course = "BSCS";
    s6.Section = "32A";
    s6.Birthday = new DateTime(2002, 2, 25);
    s6.SetGender(Gender.Female);

    var s7 = new Student("Ryan", "Bangs");
    s7.Title = "Mr.";
    s7.Course = "BSIS";
    s7.Section = "31B";
    s7.Birthday = new DateTime(2000, 12, 19);
    s7.SetGender(Gender.Male);

    var s8 = new Student("Nina", "Parez");
    s8.Title = "Ms.";
    s8.Course = "BSIT";
    s8.Section = "31A1";
    s8.Birthday = new DateTime(2003, 4, 4);
    s8.SetGender(Gender.Female);

    var s9 = new Student("Leo", "Morde");
    s9.Title = "Mr.";
    s9.Course = "BSCS";
    s9.Section = "34B";
    s9.Birthday = new DateTime(2005, 6, 6);
    s9.SetGender(Gender.Male);

    var s10 = new Student("Ella", "Mapagmahal");
    s10.Title = "Ms.";
    s10.Course = "BSIS";
    s10.Section = "33C";
    s10.Birthday = new DateTime(2001, 9, 9);
    s10.SetGender(Gender.Female);

    students.AddRange(new[] { s1, s2, s3, s4, s5, s6, s7, s8, s9, s10 });
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Section</th>
            <th>Birthday</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.Gender</td>
                <td>@student.Course</td>
                <td>@student.Section</td>
                <td>@student.Birthday.ToString("MMMM dd, yyyy")</td>
                <td>@student.Age</td>
            </tr>
        }
    </tbody>
</table>
